In [ ]:

import pandas as pd
import numpy as np
from numpy import random
random.seed(1998)
from google.colab import drive
drive.mount('/content/drive')
%cd /content/drive/MyDrive/ebay
#%cd /content/drive/MyDrive/tempShare
df = pd.read_csv('eBay_ML_Challenge_Dataset_2021_train.tsv', sep='\t')
quiz = pd.read_csv('eBay_ML_Challenge_Dataset_2021_quiz.tsv', sep='\t')

Mounted at /content/drive
/content/drive/MyDrive/ebay

In [ ]:
pip install pgeocode

Collecting pgeocode
  Downloading pgeocode-0.3.0-py3-none-any.whl (8.5 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pgeocode) (2.23.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pgeocode) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pgeocode) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pgeocode) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pgeocode) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pgeocode) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pgeocode) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pgeocode) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pgeocode) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pgeocode) (3.0.4)
Installing collected packages: pgeocode
Successfully installed pgeocode-0.3.0

In [ ]:
import pgeocode
import xgboost as xgb
from sklearn.metrics import mean_squared_error

In [ ]:
df

         b2c_c2c  seller_id  ...            package_size record_number
0            B2C      25454  ...                  LETTER             1
1            C2C    6727381  ...  PACKAGE_THICK_ENVELOPE             2
2            B2C      18507  ...  PACKAGE_THICK_ENVELOPE             3
3            B2C       4677  ...  PACKAGE_THICK_ENVELOPE             4
4            B2C       4677  ...  PACKAGE_THICK_ENVELOPE             5
...          ...        ...  ...                     ...           ...
14999995     B2C      80139  ...  PACKAGE_THICK_ENVELOPE      14999996
14999996     C2C     452486  ...  PACKAGE_THICK_ENVELOPE      14999997
14999997     B2C      43307  ...                    NONE      14999998
14999998     B2C      24235  ...  PACKAGE_THICK_ENVELOPE      14999999
14999999     C2C     535916  ...  PACKAGE_THICK_ENVELOPE      15000000

[15000000 rows x 19 columns]

#Preprocessing Data and feature engineering

In [ ]:
dist = pgeocode.GeoDistance('US')
postal = pgeocode.Nominatim('US')

def calculate_distance(subset):
  x = subset['buyer_zip_new']
  y = subset['item_zip_new']
  distance = dist.query_postal_code(x.to_numpy(), y.to_numpy())
  subset['distance'] = pd.DataFrame({'col': distance})
  return subset

def return_state(subset):
  x = subset['buyer_zip_new']
  y = subset['item_zip_new']
  buyer_states = postal.query_postal_code(x.to_numpy())['state_code']
  item_states = postal.query_postal_code(y.to_numpy())['state_code']
  #the adding latitude is here, in case you need to delete it in the future
  item_lat = postal.query_postal_code(y.to_numpy())['latitude']
  item_long = postal.query_postal_code(y.to_numpy())['longitude']
  buyer_lat = postal.query_postal_code(x.to_numpy())['latitude']
  buyer_long = postal.query_postal_code(x.to_numpy())['longitude']

  return buyer_states.tolist(), item_states.tolist(), item_lat.tolist(), item_long.tolist(), buyer_lat.tolist(), buyer_long.tolist() 


  
def calculating_duration(df):
  df['delivery_date2'] = df['delivery_date'].apply(lambda x: x[:10])
  #convert to datetime for further calculation
  df['delivery_date2'] = pd.to_datetime(df['delivery_date2'])
  #first have to check if there is incorrect data in the delivery time and payment time
  df['duration'] = df['delivery_date2'] - df['acceptance_scan_time2']
  df['duration'] = df.loc[:, 'duration'].dt.days
  return df

def assign_state_code(df):
  buyer, item,item_lat, item_long, buyer_lat, buyer_long = return_state(df)
  df['buyer_state'] = pd.DataFrame({'col': buyer})
  df['item_state'] = pd.DataFrame({'col': item})
  '''here you add the lattitude and longtitude code'''
  df['item_lat'] = pd.DataFrame({'col': item_lat})
  df['item_long'] = pd.DataFrame({'col': item_long})
  df['buyer_lat'] = pd.DataFrame({'col': buyer_lat})
  df['buyer_long'] = pd.DataFrame({'col': buyer_long})
  return df

# 25% quantile 
def q25(x):
    return x.quantile(0.25)
# 75th Percentile
def q75(x):
    return x.quantile(0.75)

In [ ]:
def preprocessing_data(df):
  #calculate the time zone difference between seller and buyer
  df['time_zone_difference'] = df['acceptance_scan_timestamp'].apply(lambda x: x[-6:-3]).astype(int) - df['payment_datetime'].apply(lambda x: x[-6:-3]).astype(int) 
  #calculate the seller hours when the payment is being made
  df['seller_hour'] = df['payment_datetime'].apply(lambda x: x[11:13]).astype(int) + df['time_zone_difference'] 
  #check if the seller hour is after 2 pm
  lst_2pm = df['seller_hour'] >= 14
  df['larger_than_2pm'] = pd.DataFrame({'col': lst_2pm})
  #data cleaning for the time data
  df['acceptance_scan_time2'] = df['acceptance_scan_timestamp'].apply(lambda x: x[:10])
  df['payment_date2'] = df['payment_datetime'].apply(lambda x: x[:10])
  #convert to datetime for further calculation
  df['payment_date2'] = pd.to_datetime(df['payment_date2'])
  df['acceptance_scan_time2'] = pd.to_datetime(df['acceptance_scan_time2'])
  # extract day of month, year, 
  df['pay_month'] = df.payment_date2.dt.month
  df['pay_year'] = df.payment_date2.dt.year
  df['scan_month'] = df.acceptance_scan_time2.dt.month

  #extract daytime of the payment time, and acceptance time
  df['payment_hour'] = df['payment_datetime'].apply(lambda x: x[11:13]).astype(int)
  df['scan_hour'] = df['acceptance_scan_timestamp'].apply(lambda x: x[11:13]).astype(int)

  #extract the day of the week of payment time and acceptance time
  df['Weekday_scan'] = df['acceptance_scan_time2'].dt.weekday
  df['Weekday_pay'] = df['payment_date2'].dt.weekday


  #extract quarter of the payment
  df['payment_quarter'] = df['payment_date2'].dt.quarter
  df['min_delivery'] = df['carrier_min_estimate'] + df['declared_handling_days'] #new feature
  df['max_delivery'] = df['carrier_max_estimate'] + df['declared_handling_days'] #new feature

  #convert the zip code to string 
  df['buyer_zip_new'] = df['buyer_zip'].astype(str).apply(lambda x: x[:5])
  df['item_zip_new'] = df['item_zip'].astype(str).apply(lambda x: x[:5])
  
  #convert the categorical data to boolean type of data
  df['b2c_c2c'] = df['b2c_c2c'].astype(str)
  lst_b2b = df.iloc[:, 0] == 'B2C'
  df['B2B'] = pd.DataFrame({'col': lst_b2b})

  #return the state_code of each item and customer

  '''here you also add the lattitude and longtitude'''

  assign_state_code(df)


  #calculate the distance between item and buyer
  df = calculate_distance(df)

  #assign state code to each item and customer
  df = assign_state_code(df)
  
  #check if there is miss-matching date for delivery and payment
  package_dic = {'NONE': 0, 'LETTER': 1, 'PACKAGE_THICK_ENVELOPE': 2, 'LARGE_ENVELOPE': 3, 'LARGE_PACKAGE': 4, 'EXTRA_LARGE_PACKAGE': 5,  'VERY_LARGE_PACKAGE': 6}
  df.loc[:, 'size_ordinal'] = df.package_size.map(package_dic)

  return df

In [ ]:
def adding_features(df):
  #check if the customer is making a purchase during weekends, if the carrier is scanning/working on weekends
  #since the Friday = 4, Saturday = 5, and Sunday = 6
  df['is_payment_weekend'] = df['Weekday_pay'] > 4
  df['is_scan_weeknd'] = df['Weekday_scan'] > 4

  return df

In [ ]:
df = preprocessing_data(df)
quiz = preprocessing_data(quiz)
df = adding_features(df)
quiz = adding_features(quiz)

#adding our target variable to the dataframe, which is the duration between the carrier scanning time and the delivery date
df = calculating_duration(df)

In [ ]:
#we can find that the there is a lot of missing distance(179057 data)
#this is partially because there are international customers and sellers
#we are gonna use a different method to get their distance

missing_dist = df[df['distance'].isnull()]

In [ ]:
US_state = df['buyer_state'].unique()
US_state

array(['MI', 'IL', 'WI', 'CO', 'MN', 'TX', 'SC', 'FL', 'UT', 'MD', 'NC',
       'OH', 'MO', 'CA', 'PA', 'ID', 'NY', 'KS', 'GA', 'ME', 'KY', 'VA',
       'MA', 'AZ', 'AL', 'NJ', 'MT', 'CT', 'WY', 'OK', 'LA', 'IN', 'TN',
       'NE', 'WA', 'NM', 'MS', 'AR', 'OR', 'IA', 'WV', 'VT', 'NV', nan,
       'ND', 'SD', 'DC', 'NH', 'DE', 'RI', 'AK', 'HI'], dtype=object)

In [ ]:
#sometimes the US states will have the same abbreviation as other countries' country code
for i in range(52):
  if US_state[i] in missing_state:
    print("collision detect")
    print(US_state[i])

NameError: ignored

In [ ]:
missing_dist = missing_dist[['record_number', 'item_zip', 'buyer_zip'

SyntaxError: ignored

In [ ]:
df['Is_within_US'] = df['distance'].notnull()

In [ ]:
quiz['Is_within_US'] = quiz['distance'].notnull()

In [ ]:
#df['missing_distance_max'] =  pd.DataFrame({'col': np.zeros((len(df)))})
#df['missing_distance_mean'] = pd.DataFrame({'col': np.zeros((len(df)))})
#df.loc[df['distance'].isnull(), 'missing_distance_mean'] =  missing_dist['duration'].mean()
#df.loc[df['distance'].isnull(), 'missing_distance_max'] = missing_dist['duration'].max()

In [ ]:
missing = pd.read_csv('missing.csv')

In [ ]:
missing = missing[['missing_zip', 'state_name', 'latitude', 'longtitude']]

In [ ]:
missing['state_name'] = missing.state_name.replace({'CO': 'Columbia', 'CA' : 'Canada', 'IN': 'India', 'AR':'Argentina', 'DE': 'Germany' })

In [ ]:
for i in range(52):
  if US_state[i] in missing['state_name'].unique():
    print("collision detect")
    print(US_state[i])
  else:
    print('NO Collision detected')

NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected
NO Collision detected

In [ ]:
def find_missing_location(dataframe):
  if dataframe['buyer_state'] is None:
    buyer_lattitude = missing

     missing_zip state_name  latitude  longtitude
0          00627         PR   18.4838    -66.8449
1         518000        NaN       NaN         NaN
2         510420        NaN       NaN         NaN
3         610000         RU   58.5969     49.6583
4         510655        NaN       NaN         NaN
...          ...        ...       ...         ...
4213  00978-0107        NaN       NaN         NaN
4214     T4b 1k3     Canada   51.3082   -114.0398
4215  00622-1942        NaN       NaN         NaN
4216   007729633        NaN       NaN         NaN
4217     M5V 1B2     Canada   43.6404    -79.3995

[4218 rows x 4 columns]

In [ ]:
df

         b2c_c2c  seller_id  ...  duration Is_within_US
0            B2C      25454  ...         3         True
1            C2C    6727381  ...         3         True
2            B2C      18507  ...         3         True
3            B2C       4677  ...         4         True
4            B2C       4677  ...         3         True
...          ...        ...  ...       ...          ...
14999995     B2C      80139  ...         3         True
14999996     C2C     452486  ...         6         True
14999997     B2C      43307  ...         5         True
14999998     B2C      24235  ...         3        False
14999999     C2C     535916  ...         4         True

[15000000 rows x 50 columns]

In [ ]:
pip install mpu

Collecting mpu
  Downloading mpu-0.23.1-py3-none-any.whl (69 kB)
     |████████████████████████████████| 69 kB 4.5 MB/s
Installing collected packages: mpu
Successfully installed mpu-0.23.1

In [ ]:
df

In [ ]:
def get_global_distance(seller, buyer):

In [ ]:
missing_dist

         b2c_c2c  seller_id  ...  delivery_date2 duration
261          B2C     158262  ...      2018-06-04        5
318          B2C        692  ...      2018-04-17        1
561          B2C        400  ...      2018-06-28        2
597          B2C      49903  ...      2018-03-03        2
760          B2C      45133  ...      2018-11-15        2
...          ...        ...  ...             ...      ...
14999786     B2C        535  ...      2018-05-11        8
14999839     B2C        844  ...      2018-06-04        4
14999992     B2C         20  ...      2018-05-18        4
14999994     B2C      28583  ...      2018-05-17        6
14999998     B2C      24235  ...      2018-12-20        3

[179057 rows x 43 columns]

In [ ]:
missing_seller =  missing_dist[missing_dist['item_state'].isnull()]
missing_buyer =  missing_dist[missing_dist['buyer_state'].isnull()]
lst_missing = missing_seller['item_zip'].to_list() + missing_buyer['buyer_zip'].to_list()

In [ ]:
df_missing = pd.DataFrame({'missing_zip': lst_missing})

In [ ]:
unique_missing = df_missing['missing_zip'].unique()

In [ ]:
import math

In [ ]:
'''

def get_country_code(zip_code):
  
  for i in pgeocode.COUNTRIES_VALID:
    nomi = pgeocode.Nominatim(i)
   # this code will always return a dataframe
   # if the postal_code has no match, the df values will all be NaN 
    df = nomi.query_postal_code(zip_code)
    if type(df.country_code) == str:
      return df.country_code, df.latitude, df.longitude

def get_location_for_array(lst):
  state_name = []
  latitude = []
  longtitude = []
  for i in lst:
    try: 
      state, la, long = get_country_code(i)
      state_name.append(state)
      latitude.append(la)
      longtitude.append(long)
      print('{} th one is done'.format(i))
    except:
      state_name.append(float('nan'))
      latitude.append(float('nan'))
      longtitude.append(float('nan'))
      print('{} th one is done'.format(i))
    
  info = { 'missing_zip': lst , 'state_name' : state_name,
        'latitude': latitude,
        'longtitude': longtitude
       }

  df_new = pd.DataFrame.from_dict(info)
  df_new.to_csv('missing_new.csv')
  return df_new

'''

In [ ]:
print(get_country_code('00627'))

/usr/local/lib/python3.7/dist-packages/pgeocode.py:204: UserWarning: The Argentina data file contains 4-digit postal codes which were replaced with a new system in 1999.
  "The Argentina data file contains 4-digit postal "

postal_code         00627
country_code           PR
place_name          Camuy
state_name          Camuy
state_code             27
county_name           NaN
county_code           NaN
community_name        NaN
community_code        NaN
latitude          18.4838
longitude        -66.8449
accuracy                4
Name: 0, dtype: object

In [ ]:
print(get_country_code('050000'))

/usr/local/lib/python3.7/dist-packages/pgeocode.py:204: UserWarning: The Argentina data file contains 4-digit postal codes which were replaced with a new system in 1999.
  "The Argentina data file contains 4-digit postal "

None

In [ ]:
lst_foreign_seller

array(['00627', '518000', '518000', ..., 'NE21YB', '91720', '510000'],
      dtype=object)

In [ ]:
df_seller = get_location_for_array(unique_missing)

/usr/local/lib/python3.7/dist-packages/pgeocode.py:204: UserWarning: The Argentina data file contains 4-digit postal codes which were replaced with a new system in 1999.
  "The Argentina data file contains 4-digit postal "

00627 th one is done
518000 th one is done
510420 th one is done
610000 th one is done
510655 th one is done
45418 th one is done
52582 th one is done
213138 th one is done
45188 th one is done
316000 th one is done
518109 th one is done
518057 th one is done
1710014 th one is done
518116 th one is done
528000 th one is done
000 th one is done
516555 th one is done
default th one is done
511400 th one is done
510000 th one is done
312000 th one is done
518001 th one is done
518108 th one is done
079903 th one is done
330004 th one is done
362000 th one is done
518103 th one is done
Guangdong th one is done
40800 th one is done
518129 th one is done
515121 th one is done
518028 th one is done
230000 th one is done
18541 th one is done
518100 th one is done
510665 th one is done
116100 th one is done
930-0269 th one is done
112007 th one is done
650000 th one is done
700000 th one is done
88010 th one is done
510800 th one is done
00953-9333 th one is done
009539333 th one is done
85218 th one is done
336000 th one is done
323900 th one is done
528248 th one is done
SN8 2BA th one is done
350007 th one is done
467221 th one is done
310000 th one is done
361005 th one is done
M27 8SE th one is done
361000 th one is done
00916 th one is done
深圳 th one is done
364000 th one is done
545000 th one is done
543003 th one is done
102206 th one is done
7752511 th one is done
528400 th one is done
00730 th one is done
94101 th one is done
790000 th one is done
510725 th one is done
350001 th one is done
518052 th one is done
518029 th one is done
450000 th one is done
519000 th one is done
266000 th one is done
528463 th one is done
1770035 th one is done
322000 th one is done
hp66rx th one is done
102200 th one is done
518118 th one is done
201617 th one is done
523841 th one is done
007150443 th one is done
96884 th one is done
550001 th one is done
518101 th one is done
523808 th one is done
200000 th one is done
518053 th one is done
1012 th one is done
323913 th one is done
65126 th one is done
95806 th one is done
518110 th one is done
200002 th one is done
201505 th one is done
17530 th one is done
71934 th one is done
11908 th one is done
55555 th one is done
215123 th one is done
30001 th one is done
ST6 2BG th one is done
510660 th one is done
461000 th one is done
6777135 th one is done
518131 th one is done
47188 th one is done
529000 th one is done
210000 th one is done
10000 th one is done
621000 th one is done
430000 th one is done
77100 th one is done
177-0035 th one is done
1020 th one is done
223700 th one is done
518112 th one is done
92412 th one is done
050000 th one is done
371000 th one is done
528200 th one is done
51800 th one is done
33333 th one is done
431911 th one is done
518106 th one is done
215000 th one is done
330000 th one is done
215101 th one is done
85278 th one is done
226004 th one is done
77600 th one is done
H4X 1M8 th one is done
MD-2075 th one is done
1400 th one is done
00685 th one is done
400016 th one is done
343000 th one is done
70000 th one is done
02101 th one is done
DY4 7DQ th one is done
96787 th one is done
00688-9714 th one is done
518004 th one is done
60290 th one is done
518133 th one is done
221000 th one is done
510175 th one is done
518048 th one is done
523710 th one is done
4275157 th one is done
332000 th one is done
523000 th one is done
29952 th one is done
511458 th one is done
518107 th one is done
0000 th one is done
0755 th one is done
22703 th one is done
518031 th one is done
92569 th one is done
547000 th one is done
2565 th one is done
066000 th one is done
214000 th one is done
230088 th one is done
91002 th one is done
25146 th one is done
80321 th one is done
264006 th one is done
230071 th one is done
21997 th one is done
365000 th one is done
400020 th one is done
066004 th one is done
6706440 th one is done
94406 th one is done
261000 th one is done
00641-2956 th one is done
150000 th one is done
150167 th one is done
406 th one is done
473000 th one is done
11248 th one is done
362321 th one is done
00602 th one is done
10640 th one is done
dn36 4wn th one is done
V7A 3B5 th one is done
441000 th one is done
V6Y3A3 th one is done
518117 th one is done
252002 th one is done
PO3 5RN th one is done
63553 th one is done
1000 th one is done
96921 th one is done
518060 th one is done
26100 th one is done
41633 th one is done
006769779 th one is done
510430 th one is done
518104 th one is done
239000 th one is done
331200 th one is done
ls83bs th one is done
250000 th one is done
266555 th one is done
034000 th one is done
00795 th one is done
91718 th one is done
116001 th one is done
3000 th one is done
454550 th one is done
G20 7LU th one is done
351100 th one is done
518125 th one is done
812 th one is done
95541 th one is done
402460 th one is done
6939527 th one is done
528500 th one is done
236000 th one is done
330 th one is done
518040 th one is done
V1E 3H2 th one is done
116600 th one is done
TN27 8JZ th one is done
L3C 1Z2 th one is done
343802 th one is done
337000 th one is done
34055 th one is done
311323 th one is done
EX48HH th one is done
51000 th one is done
ne21yb th one is done
403 th one is done
龙岗区 th one is done
518046 th one is done
91760 th one is done
07226 th one is done
310001 th one is done
61000 th one is done
6083508 th one is done
201799 th one is done
96827 th one is done
68054 th one is done
361009 th one is done
117000 th one is done
537800 th one is done
510320 th one is done
529800 th one is done
528414 th one is done
47650 th one is done
52100 th one is done
521000 th one is done
401542 th one is done
410000 th one is done
6026032 th one is done
523690 th one is done
271000 th one is done
T3K5A2 th one is done
325000 th one is done
418000 th one is done
00669 th one is done
33808 th one is done
90901 th one is done
00678 th one is done
518050 th one is done
518055 th one is done
7765493 th one is done
3229617 th one is done
31802 th one is done
626-797 th one is done
55221 th one is done
450100xin th one is done
670406 th one is done
68011 th one is done
262111 th one is done
313300 th one is done
10141 th one is done
518037 th one is done
523850 th one is done
2196 th one is done
b113ep th one is done
43618 th one is done
60054 th one is done
969120273 th one is done
315000 th one is done
56112 th one is done
l3r1e4 th one is done
518114 th one is done
441806 th one is done
90000 th one is done
524800 th one is done
550009 th one is done
518102 th one is done
170-0013 th one is done
410007 th one is done
v3t 1h4 th one is done
45000 th one is done
TN26 3SG th one is done
7645 th one is done
5851019 th one is done
28800 th one is done
302016 th one is done
009879791 th one is done
27091 th one is done
45427 th one is done
066006 th one is done
30659 th one is done
516700 th one is done
26315 th one is done
10240 th one is done
226315 th one is done
180000 th one is done
34100 th one is done
511500 th one is done
53112 th one is done
343801 th one is done
91621 th one is done
701000 th one is done
456001 th one is done
420000 th one is done
245000 th one is done
262400 th one is done
264000 th one is done
432000 th one is done
000000 th one is done
48962 th one is done
330800 th one is done
广东省 th one is done
518111 th one is done
22000 th one is done
354004 th one is done
325001 th one is done
00931-2967 th one is done
810000 th one is done
85000 th one is done
266300 th one is done
404 th one is done
00676-9779 th one is done
77839 th one is done
1403 th one is done
1111 th one is done
33110 th one is done
00725-5800 th one is done
021 th one is done
467000 th one is done
518115 th one is done
64610 th one is done
163000 th one is done
518049 th one is done
L2r 1r0 th one is done
92795 th one is done
100000 th one is done
91191 th one is done
518013 th one is done
90441 th one is done
512023 th one is done
L0R 1B3 th one is done
110000 th one is done
91720 th one is done
B6 4TQ th one is done
94090 th one is done
99045 th one is done
19778 th one is done
518033 th one is done
31-081 th one is done
518003 th one is done
312570 th one is done
96882 th one is done
80000 th one is done
14583 th one is done
518124 th one is done
518122 th one is done
350000 th one is done
g52 1JU th one is done
56391 th one is done
24159 th one is done
213000 th one is done
92621 th one is done
v5s 2l3 th one is done
bb31nr th one is done
100009 th one is done
160000 th one is done
33632 th one is done
96800 th one is done
00953 th one is done
201619 th one is done
67382 th one is done
IG11 0TP th one is done
22880 th one is done
1024 th one is done
401120 th one is done
518034 th one is done
85242 th one is done
78262 th one is done
10430 th one is done
537000 th one is done
42800 th one is done
00969 th one is done
96929 th one is done
350028 th one is done
80367 th one is done
85222 th one is done
85455 th one is done
323003 th one is done
11708 th one is done
92194 th one is done
10392 th one is done
2143 th one is done
354502 th one is done
38484 th one is done
3173 th one is done
470074 th one is done
HA4 9EQ th one is done
511442 th one is done
266426 th one is done
525200 th one is done
198283 th one is done
341000 th one is done
T2Z2H2 th one is done
00956 th one is done
4145 th one is done
10250 th one is done
510002 th one is done
85219 th one is done
518126 th one is done
471000 th one is done
16152 th one is done
00688 th one is done
LN5 0AG th one is done
433124 th one is done
SN67PD th one is done
48904 th one is done
PO2 8RW th one is done
511300 th one is done
335004 th one is done
2218 th one is done
101-0021 th one is done
96913 th one is done
800000 th one is done
0769 th one is done
85220 th one is done
225413 th one is done
528244 th one is done
4938508 th one is done
2000032 th one is done
353200 th one is done
6964314 th one is done
W12 8LP th one is done
M1H 2M1 th one is done
85228 th one is done
99127 th one is done
78476 th one is done
81948 th one is done
226000 th one is done
725007 th one is done
00782-0091 th one is done
00926 th one is done
98810 th one is done
00676 th one is done
00612 th one is done
11168 th one is done
54000 th one is done
051330 th one is done
528237 th one is done
475000 th one is done
431700 th one is done
063000 th one is done
512000 th one is done
63491 th one is done
0204 th one is done
60667 th one is done
65000 th one is done
42815 th one is done
33900 th one is done
71948 th one is done
90792 th one is done
520100 th one is done
433000 th one is done
SM13DN th one is done
511430 th one is done
214400 th one is done
10388 th one is done
ST6 4NQ th one is done
454000 th one is done
4150 th one is done
30050 th one is done
999077 th one is done
22621 th one is done
86356 th one is done
96688 th one is done
11000 th one is done
90902 th one is done
255000 th one is done
110166 th one is done
7169700 th one is done
L3S1X6 th one is done
518081 th one is done
00000 th one is done
215008 th one is done
511340 th one is done
34861 th one is done
321036 th one is done
V2X 7X0 th one is done
SW17 9QX th one is done
L6M1J8 th one is done
cm203nj th one is done
050056 th one is done
201615 th one is done
41307 th one is done
41000 th one is done
98442 th one is done
45110 th one is done
00705 th one is done
510130 th one is done
102208 th one is done
104 th one is done
330009 th one is done
3752 th one is done
SO15 1HN th one is done
519075 th one is done
510170 th one is done
51100 th one is done
571000 th one is done
59506 th one is done
90654 th one is done
523999 th one is done
760329 th one is done
64700 th one is done
03747 th one is done
40494 th one is done
28808 th one is done
518027 th one is done
870000 th one is done
7621770 th one is done
610051 th one is done
1528 th one is done
350026 th one is done
518067 th one is done
852 th one is done
53995 th one is done
223800 th one is done
020 th one is done
510650 th one is done
01995 th one is done
530000 th one is done
47100 th one is done
46000 th one is done
33628 th one is done
M9L 1V7 th one is done
00924 th one is done
41705710 th one is done
116000 th one is done
13971 th one is done
9339221 th one is done
3011 th one is done
00662 th one is done
33344 th one is done
510700 th one is done
57171 th one is done
98460 th one is done
85230 th one is done
29535 th one is done
311815 th one is done
2443 th one is done
广东 th one is done
13430 th one is done
40000 th one is done
334000 th one is done
52952 th one is done
85288 th one is done
00926-2523 th one is done
46424 th one is done
33690 th one is done
43288 th one is done
518025 th one is done
3758 th one is done
21416 th one is done
2278 th one is done
cf83 3lp th one is done
114 th one is done
8203 th one is done
315300 th one is done
77526 th one is done
22012 th one is done
3175 th one is done
2811601 th one is done
98180 th one is done
184855 th one is done
381400 th one is done
5181000 th one is done
528467 th one is done
321000 th one is done
L3R 1H3 th one is done
TF1 1NE th one is done
448-831 th one is done
90344 th one is done
815000 th one is done
LE3 8DX th one is done
233000 th one is done
71514 th one is done
110007 th one is done
590000 th one is done
33447 th one is done
10210 th one is done
354000 th one is done
11986 th one is done
T2C1V3 th one is done
525000 th one is done
30600 th one is done
830000 th one is done
6280 th one is done
214151 th one is done
28830 th one is done
85238 th one is done
28200 th one is done
8050 th one is done
M50 2UE th one is done
L7C 1M2 th one is done
4857040 th one is done
343200 th one is done
2914 th one is done
62130 th one is done
311100 th one is done
6100 th one is done
118100 th one is done
5000 th one is done
2019 th one is done
49652 th one is done
93889 th one is done
363000 th one is done
85223 th one is done
708000 th one is done
323911 th one is done
130500 th one is done
518128 th one is done
0591 th one is done
00674-9761 th one is done
122002 th one is done
464000 th one is done
362400 th one is done
7008 th one is done
518024 th one is done
LE67 1LD th one is done
60000 th one is done
00949 th one is done
518300 th one is done
510663 th one is done
V5J 5H8 th one is done
40640 th one is done
6083646 th one is done
472-795 th one is done
66134 th one is done
80242 th one is done
410-837 th one is done
82211 th one is done
42835 th one is done
311321 th one is done
11140 th one is done
15326 th one is done
00662-3882 th one is done
36000 th one is done
421000 th one is done
518083 th one is done
516023 th one is done
8481973 th one is done
75531 th one is done
30900 th one is done
8436716 th one is done
511486 th one is done
518020 th one is done
40112 th one is done
12888 th one is done
72691 th one is done
M8 8HF th one is done
322008 th one is done
10146 th one is done
6200 th one is done
5180000 th one is done
50343 th one is done
412000 th one is done
339006 th one is done
3904 th one is done
10837 th one is done
518010 th one is done
510720 th one is done
523900 th one is done
金华 th one is done
00052 th one is done
17 th one is done
5045 th one is done
1870 th one is done
4990-036 th one is done
028006 th one is done
312300 th one is done
30201 th one is done
06748 th one is done
260000 th one is done
12000 th one is done
39142 th one is done
45100 th one is done
919191 th one is done
112008 th one is done
36138 th one is done
2150 th one is done
84200 th one is done
342715 th one is done
250100 th one is done
200949 th one is done
55198 th one is done
2065 th one is done
ng5 3bg th one is done
343617 th one is done
0377 th one is done
11512 th one is done
519070 th one is done
76100 th one is done
110091 th one is done
510006 th one is done
272100 th one is done
GU2 9LA th one is done
1878918 th one is done
76304 th one is done
60500 th one is done
9010 th one is done
4445-199 th one is done
10100 th one is done
1441216 th one is done
38678 th one is done
90103 th one is done
83621 th one is done
3087000 th one is done
00670 th one is done
523700 th one is done
SN3 6ND th one is done
j7k2x4 th one is done
88091 th one is done
529931 th one is done
2602 th one is done
52000 th one is done
00676-8368 th one is done
9779268 th one is done
18984 th one is done
760003 th one is done
16119 th one is done
08100 th one is done
LT-14113 th one is done
302021 th one is done
933 th one is done
b178lh th one is done
77247 th one is done
CW8 3LZ th one is done
00693 th one is done
211101 th one is done
7500 th one is done
L1T4W8 th one is done
28322 th one is done
20000 th one is done
00778-0426 th one is done
2222 th one is done
73000 th one is done
33159 th one is done
010 th one is done
4000 th one is done
1100000 th one is done
55000 th one is done
29408 th one is done
400000 th one is done
516002 th one is done
61212 th one is done
N0N 1E0 th one is done
11064 th one is done
L3R 0S9 th one is done
28013 th one is done
730000 th one is done
60386 th one is done
16129 th one is done
341214 th one is done
73410 th one is done
10048 th one is done
17666 th one is done
476613 th one is done
88015 th one is done
560000 th one is done
00678-2541 th one is done
221 th one is done
241 th one is done
5849954 th one is done
68200 th one is done
7540620 th one is done
410326 th one is done
84000 th one is done
88888 th one is done
60850 th one is done
2526 th one is done
02727 th one is done
32500 th one is done
63001 th one is done
516000 th one is done
201501 th one is done
95783 th one is done
64944 th one is done
98205 th one is done
55028 th one is done
L3R 9W6 th one is done
428021 th one is done
92–7o th one is done
350125 th one is done
434000 th one is done
85227 th one is done
7692000 th one is done
92000 th one is done
00966 th one is done
17620 th one is done
820000 th one is done
96915 th one is done
00718-0475 th one is done
5243331 th one is done
7270 th one is done
13500 th one is done
82000 th one is done
47939 th one is done
53244 th one is done
529500 th one is done
598-0037 th one is done
56746 th one is done
264200 th one is done
H1Z3K4 th one is done
51121 th one is done
12276 th one is done
19750 th one is done
46010 th one is done
63593 th one is done
h3e 1b8 th one is done
8425555 th one is done
44300 th one is done
53000 th one is done
52503 th one is done
60272 th one is done
Pl15 8bq th one is done
150006 th one is done
7550977 th one is done
460000 th one is done
1000000 th one is done
W14 8DA th one is done
350500 th one is done
L1Z2C3 th one is done
AB155LZ th one is done
4939010 th one is done
518038 th one is done
525100 th one is done
5385 th one is done
611743 th one is done
425500 th one is done
510640 th one is done
524500 th one is done
26000000 th one is done
9962 th one is done
1220 th one is done
529100 th one is done
40123 th one is done
3023 th one is done
528325 th one is done
22510 th one is done
543001 th one is done
99120 th one is done
19766 th one is done
H3M 1X3 th one is done
4400 th one is done
10410 th one is done
00727 th one is done
1752616 th one is done
462000 th one is done
31000 th one is done
T0L2H0 th one is done
45447 th one is done
90705 th one is done
215131 th one is done
65153 th one is done
H4L 4V4 th one is done
400056 th one is done
E10 7QZ th one is done
536000 th one is done
34562 th one is done
71700 th one is done
L2R1R5 th one is done
3156 th one is done
69115 th one is done
25150 th one is done
00683 th one is done
214100 th one is done
511450 th one is done
16000 th one is done
637000 th one is done
SM6 5TA th one is done
135-0064 th one is done
00704 th one is done
RH4 3HP th one is done
50000 th one is done
24229 th one is done
46264 th one is done
01580 th one is done
32600 th one is done
516082 th one is done
526112 th one is done
91272 th one is done
15811 th one is done
4935435 th one is done
83130 th one is done
66120 th one is done
Dublin th one is done
SN15 1PA th one is done
518056 th one is done
061000 th one is done
33000 th one is done
PR7 3HU th one is done
450003 th one is done
280000 th one is done
UB2 5LF th one is done

In [ ]:
missing_values = pd.read_csv('missing.csv')

In [ ]:
missing_values

      Unnamed: 0 missing_zip state_name  latitude  longtitude
0              0       00627         PR   18.4838    -66.8449
1              1      518000        NaN       NaN         NaN
2              2      510420        NaN       NaN         NaN
3              3      610000         RU   58.5969     49.6583
4              4      510655        NaN       NaN         NaN
...          ...         ...        ...       ...         ...
4213        4213  00978-0107        NaN       NaN         NaN
4214        4214     T4b 1k3         CA   51.3082   -114.0398
4215        4215  00622-1942        NaN       NaN         NaN
4216        4216   007729633        NaN       NaN         NaN
4217        4217     M5V 1B2         CA   43.6404    -79.3995

[4218 rows x 5 columns]

In [ ]:
df = df.loc[df['duration'] >= 0 ]

In [ ]:
df

         b2c_c2c  seller_id  ...  delivery_date2 duration
0            B2C      25454  ...      2019-03-29        3
1            C2C    6727381  ...      2018-06-05        3
2            B2C      18507  ...      2019-01-10        3
3            B2C       4677  ...      2018-12-21        4
4            B2C       4677  ...      2018-07-30        3
...          ...        ...  ...             ...      ...
14999995     B2C      80139  ...      2018-05-07        3
14999996     C2C     452486  ...      2018-05-08        6
14999997     B2C      43307  ...      2018-06-11        5
14999998     B2C      24235  ...      2018-12-20        3
14999999     C2C     535916  ...      2018-05-07        4

[14985134 rows x 43 columns]

In [ ]:
df_subset = df.loc[:, ['buyer_state', 'item_state', 'duration']]
df1 = df_subset.groupby(['buyer_state', 'item_state']).duration.agg(['max', 'min','mean', q25, 'median', q75])

In [ ]:
rename

In [ ]:
df = df.join(df1, on=['buyer_state', 'item_state'], how = 'left')
quiz = quiz.join(df1, on = ['buyer_state', 'item_state'], how = 'left')

In [ ]:
#not necessary do not run this cell
df_subset = df.loc[:, ['buyer_zip', 'item_zip', 'duration']]
df1 = df_subset.groupby(['buyer_zip', 'item_zip']).duration.agg(['max', 'min','mean', q25, 'median', q75])
df = df.join(df1, on=['buyer_zip', 'item_zip'], how = 'left')
quiz = quiz.join(df1, on = ['buyer_zip', 'item_zip'], how = 'left')

KeyboardInterrupt: ignored

#Train the XGboost

In [ ]:
import pandas as pd
import numpy as np
from numpy import random
random.seed(1998)
from google.colab import drive
drive.mount('/content/drive')
%cd /content/drive/MyDrive/ebay

Mounted at /content/drive
/content/drive/MyDrive/ebay

In [ ]:
##If needed to load in data, here is the way
df = pd.read_hdf('Xgboost_trainingdata.h5')
quiz = pd.read_hdf('Xgboost_quiz.h5')

In [ ]:
df.columns

Index(['Is_within_US', 'is_payment_weekend', 'is_scan_weeknd', 'item_lat',
       'item_long', 'buyer_lat', 'buyer_long', 'B2B', 'seller_id',
       'declared_handling_days', 'shipment_method_id', 'shipping_fee',
       'carrier_min_estimate', 'carrier_max_estimate', 'category_id',
       'item_price', 'quantity', 'weight', 'weight_units',
       'time_zone_difference', 'seller_hour', 'larger_than_2pm', 'pay_month',
       'pay_year', 'scan_month', 'payment_hour', 'scan_hour', 'Weekday_scan',
       'Weekday_pay', 'payment_quarter', 'min_delivery', 'max_delivery',
       'distance', 'max', 'min', 'mean', 'q25', 'median', 'q75',
       'size_ordinal', 'duration'],
      dtype='object')

In [ ]:

X_quiz = quiz[['Is_within_US','is_payment_weekend', 'is_scan_weeknd','item_lat', 'item_long', 'buyer_lat', 'buyer_long','B2B','seller_id' ,'declared_handling_days','shipment_method_id','shipping_fee','carrier_min_estimate','carrier_max_estimate','category_id','item_price','quantity','weight','weight_units','time_zone_difference','seller_hour','larger_than_2pm','pay_month','pay_year','scan_month','payment_hour','scan_hour','Weekday_scan','Weekday_pay','payment_quarter','min_delivery','max_delivery','distance','max','min'	,'mean'	,'q25',	'median','q75','size_ordinal']]

In [ ]:
X = df[['Is_within_US','is_payment_weekend', 'is_scan_weeknd','item_lat', 'item_long', 'buyer_lat', 'buyer_long','B2B','seller_id' ,'declared_handling_days','shipment_method_id','shipping_fee','carrier_min_estimate','carrier_max_estimate','category_id','item_price','quantity','weight','weight_units','time_zone_difference','seller_hour','larger_than_2pm','pay_month','pay_year','scan_month','payment_hour','scan_hour','Weekday_scan','Weekday_pay','payment_quarter','min_delivery','max_delivery','distance','max','min'	,'mean'	,'q25',	'median','q75','size_ordinal']]
y = df[['duration']]

In [ ]:
#X_quiz.to_hdf('Xgboost_quiz.h5', key = 'X_quiz', mode = 'w')

In [ ]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error

In [ ]:
data_dmatrix = xgb.DMatrix(data=X,label=y)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.5, learning_rate = 0.1,
                max_depth = 7, alpha = 10, n_estimators = 100)

In [ ]:
xg_reg.fit(X_train,y_train)

preds = xg_reg.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

[22:24:18] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[22:24:18] WARNING: /workspace/src/learner.cc:686: Tree method is automatically selected to be 'approx' for faster speed. To use old behavior (exact greedy algorithm on single machine), set tree_method to 'exact'.
RMSE: 1.419268

In [ ]:
print("RMSE: %f" % (rmse))

RMSE: 1.425460

In [ ]:
def loss(preds, y_test):
  new_y = y_test.values.flatten()
  result = new_y - preds
  late = 0
  early = 0
  for i in range(len(result)):
    if result[i] > 0:
      late = late + result[i]
    elif result[i] < 0:
      early = early + abs(result[i])
  
  total = (early*0.4 + late*0.6)/len(result)
  return total

In [ ]:
print("LOSS: %f" % (loss(preds, y_test)))

LOSS: 0.420468

In [ ]:
def rounding(arr, value):
  new = np.zeros(np.shape(arr))
  for i in range(len(arr)):
    if arr[i] - arr[i]//1 <= value:
      new[i] = arr[i]//1
    else:
      new[i] = arr[i]//1 + 1
  return new

In [ ]:
#see what will be the optimal rounding rule
grid = [0.62, 0.63, 0.65,0.66]
def find_optimal_rounding(preds, y_test):
  for i in range(len(grid)):
    new_pred = rounding(preds, grid[i])
    print("LOSS: %f" % (loss(new_pred, y_test)))

In [ ]:
find_optimal_rounding(preds, y_test)

LOSS: 0.401418
LOSS: 0.401390
LOSS: 0.401505

KeyboardInterrupt: ignored

In [ ]:
#this seems to be not working

def loss(preds, dtrain):
    ''' Customized loss function designing to punish earlier delivery date more than later delivery date'''
    y = dtrain.get_label()
    early = (sum(abs(preds[preds < y] - y[preds < y])))*0.4
    late = (sum(abs(preds[preds > y] - y[preds < y])))*0.6
    loss = (early + late)/len(y)
    return 'loss', loss

In [ ]:
'''params = {"objective":"reg:linear",'colsample_bytree': 0.5,'learning_rate': 0.1,
                'max_depth':7, 'alpha': 10, 'n_estimators': 100, 'num_boost_round':100 } # 'disable_default_eval_metric': 1

xg_reg = xgb.train(params=params, dtrain=data_dmatrix)'''
'''cv_results = xgb.cv(dtrain=data_dmatrix, params=params, nfold=5,
                , early_stopping_rounds=10,metrics="rmse"
          as_pandas=True, seed=123)'''

[01:24:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[01:24:01] WARNING: /workspace/src/learner.cc:686: Tree method is automatically selected to be 'approx' for faster speed. To use old behavior (exact greedy algorithm on single machine), set tree_method to 'exact'.

'cv_results = xgb.cv(dtrain=data_dmatrix, params=params, nfold=5,\n                , early_stopping_rounds=10,metrics="rmse"\n          as_pandas=True, seed=123)'

In [ ]:
preds_quiz = xg_reg.predict(xgb.DMatrix(X_quiz))

In [ ]:
#use this if did not use train
preds_quiz = xg_reg.predict(X_quiz)

AttributeError: ignored

In [ ]:
preds_round = preds_quiz.round()
quiz['duration'] = pd.DataFrame({'col': preds_round.tolist()})
quiz['delivery_date'] = quiz['acceptance_scan_time2'] + pd.to_timedelta(quiz['duration'], unit='D')
quiz['delivery_date'] = quiz['delivery_date'].astype(str)
submit = quiz[['record_number','delivery_date']]
submit.to_csv("submit_1118_depth7_max10_n70_.tsv.gz", 
           index=False, sep='\t', header = False, compression = 'gzip')

In [ ]:
def rounding_rule(arr):
  new = np.zeros(np.shape(arr))
  for i in range(len(arr)):
    if arr[i] - arr[i]//1 <= 0.91:
      new[i] = arr[i]//1
    else:
      new[i] = arr[i]//1 + 1
  return new

In [ ]:
quiz = pd.read_csv('eBay_ML_Challenge_Dataset_2021_quiz.tsv', sep='\t')

In [ ]:

quiz['acceptance_scan_time2'] = quiz['acceptance_scan_timestamp'].apply(lambda x: x[:10])
quiz['acceptance_scan_time2'] = pd.to_datetime(quiz['acceptance_scan_time2'])

In [ ]:
preds_new = rounding_rule(preds_quiz)
quiz['duration_91'] = pd.DataFrame({'col': preds_new.tolist()})
quiz['delivery_date_91'] = quiz['acceptance_scan_time2'] + pd.to_timedelta(quiz['duration_91'], unit='D')
submit_new = quiz[['record_number','delivery_date_91']]
submit_new.to_csv("submit_0106_depth7_max10_n100_cosample05_round91_trainwholedataset.tsv.gz", 
           index=False, sep='\t', header = False, compression = 'gzip')

In [ ]:
#the minimum loss
#is when you only merge on data ['buyer_state', 'item_state']
#max_depth = 7, alpha = 10, number_estimators = 100, rounding = 83

In [ ]:
import numpy as np
arr = np.zeros((2,3))

In [ ]:
arr[1,2] = 8
arr[1,1] = -5
arr[0,2] = 9

In [ ]:
np.abs(arr[arr>0])

array([9., 8.])